{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!--Homepage Content-->
        <div class="container">
            <img class="imgcont" src="/static/portada-horizontal.jpg" alt="Coverim">
            <p class="introduction"> Del Cobre Climbing is a climbing and social project at Barrancas del Cobre (Copper Canyon) Chihuahua in Mexico. Climbing, as a sport and recreational activity, can have significant social and economic benefits for communities. </p>

            <ul>
                <li class="n">Tourism: Climbing areas can attract a significant number of tourists, especially those interested in outdoor activities. This can create job opportunities for local residents, such as guides, instructors, and hotel and restaurant staff. Additionally, the increased tourism can lead to the growth of supporting industries such as transportation and retail.</li>
                <li class="n">Local Economy: Climbing can stimulate the local economy by generating income through the sale of equipment, rental of gear and transportation services, and the establishment of small businesses like coffee shops or restaurants that cater to climbers. This can create jobs and generate revenue for local businesses.</li>
                <img class="imgcont" src="/static/kid-tree.jpg" alt="Climber with landscape">
                <img class="imgcont" src="/static/tortillas.jpg" alt="Climber with landscape">
                <li class="n">Social Cohesion: Climbing can promote social cohesion by bringing people of different backgrounds and cultures together to participate in a shared activity. This can help to break down social barriers, create a sense of community and foster a positive environment for interaction.</li>
                <img class="imgcont" src="/static/lessons1.jpg" alt="Teaching to kids">
                <li class="n">Personal Development: Climbing can have a significant impact on an individual's personal development. It can help build self-esteem, self-confidence, and perseverance. This can lead to an increased sense of well-being, which in turn can positively impact the community.
                <li class="n">Conservation: Climbing can also contribute to the conservation of natural resources and cultural heritage. Climbers often appreciate the beauty of natural landscapes and cultural sites and can help to raise awareness of the need for their protection.</li>
                <img class="imgcont" src="/static/kwira.jpg" alt="Teaching to kids">
                <li class="n">Overall, climbing has the potential to contribute to the social and economic development of communities in multiple ways. By promoting tourism, stimulating the local economy, promoting social cohesion, fostering personal development, and contributing to conservation, climbing can help to create sustainable, vibrant communities.</li>
            </ul>
         </div>
    </body>
{% endblock %}